<section class="projects-container">
    <!-- <h2 class="section-title">My Projects</h2> -->
    <div class="projects-grid">
      <div *ngFor="let project of projects; let i = index" class="project-card" [style.animation-delay]="i * 0.2 + 's'">
        <h3 class="project-title">{{ project.name }}</h3>
        <p class="project-description">{{ project.description }}</p>
        <div class="tech-stack">
          <span *ngFor="let tech of project.techStack" class="tech-badge">{{ tech }}</span>
        </div>
        <a [href]="project.link" target="_blank" class="view-project">View Project</a>
      </div>
    </div>
  </section>